 .font-14{
 	font-size: 14px;
 }
  .font-15{
 	font-size: 15px;
 }
  .font-16{
 	font-size: 16px;
 }
  .font-17{
 	font-size: 17px;
 }
  .font-18{
 	font-size: 19px;
 }
  .font-19{
 	font-size: 10px;
 }
  .font-20{
 	font-size: 20px;
 }
  .font-21{
 	font-size: 21px;
 }
  .font-22{
 	font-size: 22px;
 }
.owl-course {
  height: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

/*#products .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 135px;
    object-fit: cover;
}*/
#products .owl-theme .owl-nav {
    margin-top: 10px;
    text-align: right;
    -webkit-tap-highlight-color: transparent;
    z-index: 10000;
     background: rgba(0, 0, 0, 0);
}

#products .owl-theme .owl-nav.disabled + .owl-dots {
     margin-top: 0px; 
}

#products .owl-theme .owl-nav {
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0;
    right: 10px;
    margin-top: -25px;
}

#products .owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 3px;
    padding: 3px 10px;
    background: #ccc;
    display: inline-block;
    cursor: pointer;
    border-radius: 0px;
}


#home_slider .owl-theme .owl-nav {
    margin-top: 10px;
    text-align: right;
    -webkit-tap-highlight-color: transparent;
    z-index: 10000;
     background: rgba(0, 0, 0, 0);
}

#home_slider .owl-theme .owl-nav.disabled + .owl-dots {
     margin-top: 0px; 
}



#home_slider .owl-theme .owl-nav {
    z-index: 1;
    position: absolute;
    top: 99%;
    left: 0;
    right: 7px;
    margin-top: -30px;
}
#home_slider .owl-theme .owl-nav [class*='owl-'] {
    /* color: #999; */
    font-size: 14px;
    margin: 1px;
    padding: 2px 12px;
    background: rgba(0, 0, 0, 0.42);
    display: inline-block;
    cursor: pointer;
    /*border-radius: 30px;*/
}

/* The Close Button */
.modal-course .close {
  color: #aaaaaa;
  float: right;
  font-size: 22px;
  font-weight: bold;
}

.modal-course .close:hover,
.modal-course .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/*slider home*/
.home
{
  width: 100%;
 
}
.home_slider_container
{
  width: 100%;
  height: 100%;
}
.home_slider
{
  width: 100%;
  height: 100%;
}
.home_slider_background
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.home_slider_content
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
}
.home_slider_title
{
  font-family: 'Prompt', serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
}
.home_slider_subtitle
{
  font-size: 24px;
  color: #fff;
  margin-top: 9px;
  margin-bottom: 24px;
}
.home_slider_form_container
{
  width: 832px;
  margin: 0 auto;
  margin-top: 35px;
}
.home_search_form div
{
  width: calc(100% - 140px);
  height: 46px;
  background: #FFFFFF;
  border-radius: 3px;
}
.home_search_input
{
  width: 33.33333333%;
  border: none;
  outline: none;
  height: 25px;
  padding-left: 20px;
}
.home_search_input:not(:last-child)
{
  border-right: solid 1px #e5e5e5;
}
.home_search_input::-webkit-input-placeholder
{
  font-family: 'Prompt', sans-serif;
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #b5b8be !important;
}
.home_search_input:-moz-placeholder
{
  font-family: 'Prompt', sans-serif;
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #b5b8be !important;
}
.home_search_input::-moz-placeholder
{
  font-family: 'Prompt', sans-serif;
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #b5b8be !important;
} 
.home_search_input:-ms-input-placeholder
{ 
  font-family: 'Prompt', sans-serif;
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #b5b8be !important;
}
.home_search_input::input-placeholder
{
  font-family: 'Prompt', sans-serif;
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #b5b8be !important;
}
.home-header
{
  width: 100%;
  height: 180px;
  background: #f2f4f5;
  border-bottom: solid 1px #edeff0;
}


.body-link-vdo ul li {
    margin-top: 10px;
    border-bottom: 1px solid #e8e8e8;
}
.body-link-vdo h5{
  color: #f26724;
}
.body-link-vdo ul li {
    float: none;
}
.body-link-vdo ul li {
    float: left;
}
.body-link-vdo ul li {
    position: relative;
    display: block;
    padding-bottom: 10px;
    width: 100%;
}

/*  */
.bg-circle {
   margin-top: 6px;
    margin-left: 10px;
}
.circle-left {
    background: green;
    height: 30px;
    width: 16px;
    border-bottom-left-radius: 52px;
    border-top-left-radius: 52px;
    margin-right: 12px;
}

.circle-right {
    background: green;
    height: 30px;
    width: 16px;
    border-bottom-right-radius: 52px;
    border-top-right-radius: 52px;
    margin-right: 12px;
}
.circle-full {
    background: green;
    height: 30px;
    width: 30px;
    border-radius: 70px;
}
.circle-none {
    background: #9e9e9e;
    height: 30px;
    width: 30px;
    border-radius: 70px;
}

    