@media (max-width:1619px){
	/* Main Menu Area css
	============================================================================================ */
   .header_area .navbar .search {
		margin-left: 40px;
	}
	/* End Main Menu Area css
	============================================================================================ */
	.testimonials_area .owl-prev, .testimonials_area .owl-next {
		right: 15px;
	}
	.container-tap {
	    max-width: 1170px;
	}
}
@media (max-width:1300px){
	.testimonials_area .owl-prev, .testimonials_area .owl-next {
		right: auto;
		left: 50%;
		transform: translateX(-50%);
		bottom: 25px;
		top: auto;
	}
	.testimonials_area .owl-prev{
		transform: rotate(90deg);
	}
	.testimonials_area .owl-next{
		transform: rotate(90deg);
		margin-left: -40px;
	}


}
@media (min-width:1300px){
	.container-tap {
	    max-width: 1170px;
	}


}
@media (max-width:1199px){
	/* Main Menu Area css
	============================================================================================ */
	.header_area .navbar .nav .nav-item {
		margin-right: 28px;
	}
	/* End Main Menu Area css
	============================================================================================ */
	/* Home Banner Area css
	============================================================================================ */
	.home_banner_area {
		/*min-height: 700px;*/
	}
	.home_banner_area .banner_inner {
		/*min-height: 700px;*/
	}
	/* End Home Banner Area css
	============================================================================================ */
	.container-tap {
	    max-width: 960px;
	}

	.img-profile .circle {
	  
	    left: 35%;
	}
	
}

@media (max-width:991px){
	/* Main Menu Area css
	============================================================================================ */

	 .home {
	    height: 300px;
	 }

	 
		.home_slider_title
		{
		  
		  font-size: 45px;
		  
		}
		.home_slider_subtitle
		{
		  font-size: 24px;
		
		}
    .navbar-toggler {
        border: none;
        border-radius: 0px;
        padding: 0px;
        cursor: pointer;
        margin-top: 18px;
        margin-bottom: 18px;
    }
	.header_area .navbar {
		/*background: #8DD8F8;*/
		 /*   background-image: linear-gradient(100deg, rgb(0, 112, 186), rgb(0, 48, 135));*/
	}
    .navbar-toggler[aria-expanded="false"] span:nth-child(2) {
		opacity: 1;
	}
	.navbar-toggler[aria-expanded="true"] span:nth-child(2) {
		opacity: 0;
	}
	.navbar-toggler[aria-expanded="true"] span:first-child {
		transform: rotate(-45deg);
		position: relative;
		top: 7.5px;
	}
	.navbar-toggler[aria-expanded="true"] span:last-child {
		transform: rotate(45deg);
		bottom: 6px;
		position: relative;
	}
	.navbar-toggler span{
		display: block;
		width: 25px;
		height: 3px;
		background: #0071bb;
		margin: auto;
		margin-bottom: 4px;
		transition: all 400ms linear;
		cursor: pointer;
	}
    .navbar .container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .nav{
        padding: 0px 0px;
        
    }
    /*.menu_nav li {
    	border-top: 1px solid #ccc;
    	height: 40px;
    	font-size: 16px;
    }*/
	.header_area + section, .header_area + row, .header_area + div {
		margin-top: 0px;
	}
    .header_top .nav{
        padding: 0px;
    }
    .header_area .navbar .nav .nav-item .nav-link{
        line-height: 45px;
            font-size: 16px;
        margin-right: 0px;
        display: block;
		border-bottom: 1px solid #ddd;
		border-radius: 0px;
    }
	.header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
		line-height: 40px;
	}
    .header_area .navbar .search{
        margin-left: 0px;
    }
	.header_area .navbar-collapse{
		/*max-height: 340px;*/
		overflow-y: scroll;
	}
	.header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
		padding: 0px 15px;
	}
	.header_area .navbar .nav .nav-item {
		margin-right: 0px;
	}
	.header_area + section, .header_area + row, .header_area + div {
		margin-top: 0px;
	}
	/* End Main Menu Area css
	============================================================================================ */
	/* Blog page Area css
	============================================================================================ */
	.categories_post img{
        width: 100%;
    }
	.categories_post {
		max-width: 360px;
		margin: 0 auto;
	}
	.blog_categorie_area .col-lg-4{
        margin-top: 30px;
    }
    .blog_area{
        padding-bottom: 80px;
    }
    .single-post-area .blog_right_sidebar{
        margin-top: 30px;
    }
	/* End Blog page Area css
	============================================================================================ */
	
	/* Contact Page Area css
	============================================================================================ */
	.contact_info{
		margin-bottom: 50px;
	}
	/* End Contact page Area css
	============================================================================================ */
	.home_banner_area .donation_inner{
		margin-bottom: -30px;
	}
	.home_banner_area .dontation_item{
		max-width: 350px;
		margin: auto;
	}
	/* Footer Area css
	============================================================================================ */
	.footer-area .col-sm-6{
		margin-bottom: 30px;
	}
	/* End End Footer Area css
	============================================================================================ */
	.finance_item{
		margin-bottom: 30px;
	}
	.finance_inner{
		margin-bottom: -30px;
	}
	.team_item{
		max-width: 263px;
		margin: 0px auto 30px;
	}
	.packages_text{
		margin-bottom: 50px;
	}
	.packages_item{
		max-width: 360px;
		margin: 0px auto 30px;
	}
	.packages_inner{
		margin-bottom: -30px;
	}
	.l_blog_item img{
		width: 100%;
	}
	.news_widget {
		padding-left: 0px;
	}
	.video_area{
		margin-top: 40px;
		float: none;
		display: block;
	}
	.video_area > img{
		width: 100%;
	}
	.c_details_list{
		margin-top: 30px;
	}

	/*nav > div a.nav-item.nav-link {
	
	    background: #BCBDBF;

	    
	}

	nav > div a.nav-item.nav-link.active {
	  
	    background: #949599;
	}*/

	nav > .nav.nav-tabs{

	    
	    width:100%;
	    
	}

	.sticky {
	  top: 55px;
	  width: 100%;
	  
	}

	.tablet-temp {
		display: inline;
	}

	.pc-temp {
		display: none;
	}

	.navbar-login{
  
	    margin-left: auto;
	        padding-right: 25px;
	 
	  }

	 .header_search_form {
	    display: block;
	    position: relative;
	    width: 100%;
	}

	  .fas{
	      border-radius: 50%;
	    border: 1px solid #f1f1f1;
	    padding: 6px;
	    width: 30px;
	}

	.img-profile .circle {
	  
	    left: 43%;
	}
}
@media (max-width:768px){
    .container-tap {
	    /*max-width: 720px;*/
	}
	.container-tap {
	    width: 100%;
	    padding-right: 0px;
	    padding-left: 0px;
	    margin-right: auto;
	    margin-left: auto;
	}

	.t-mobile{
		display: inline-block;
	}
	.t-pc{
		display: none;
	}
	
}
@media (max-width:767px){

	.home {
	     height: 155px;
	}
	.home_banner_area {
		/*min-height: 500px;*/
	}
	.home_banner_area .banner_inner {
		/*min-height: 500px;*/
	}
	.home_banner_area .banner_inner .banner_content {
		margin-top: 0px;
	}
	/* Blog Page Area css
	============================================================================================ */
    .blog_banner .banner_inner .blog_b_text h2 {
		font-size: 40px;
		line-height: 50px;
	}
	.blog_info.text-right{
		text-align: left !important;
		margin-bottom: 10px;
	}
	/* End Blog Page Area css
	============================================================================================ */
	.home_banner_area .banner_inner .banner_content h3 {
		font-size: 30px;
	}
	.home_banner_area .banner_inner .banner_content p br {
		display: none;
	}
	.home_banner_area .banner_inner .banner_content h3 span {
		line-height: 45px;
		padding-bottom: 0px;
		padding-top: 0px;
	}
	/* Footer Area css
	============================================================================================ */
	.footer-bottom{
		text-align: center;
	}
	.footer-bottom .footer-social {
		text-align: center;
		margin-top: 15px;
	}
	/* End End Footer Area css
	============================================================================================ */
	.wd55 {
		width: 100%;
	}
	.courses_inner .courses_item img{
		width: 100%;
	}
	.wd44 {
		width: 100%;
	}
	.course_item img{
		width: 100%;
	}

	nav > .nav.nav-tabs{

       font-size: 12px;
        min-width: 0px;

    }
	nav > div a.nav-item.nav-link{
	
	    padding: 10px 10px;
	    
	   
	}
	nav > div a.nav-item.nav-link.active
	{
	 
	    padding: 10px 10px;
	    
	}



	nav > div a.nav-item.nav-link:hover,
	nav > div a.nav-item.nav-link:focus
	{
	  border: none;
	    background: #0071bb;
	    color:#fff;
	    border-radius:0;
	    transition:background 0.20s linear;
	}

	.navbar-login{
  
	    margin-left: auto;
	 
	 }

	.img-profile .circle {
	  
	    left: 28%;
	}
	
}
@media (max-width:600px){
	.builder_inner .builder_item {
		flex: 0 0 100%;
		max-width: 100%;
	}
}
@media (max-width:575px){
	/*.top_menu {
		display: none;
	}*/
	
	
		.home_slider_title
		{
		  
		  font-size: 20px;
		  
		}
		.home_slider_subtitle
		{
		  font-size: 16px;
		   margin-bottom: 15px;
		
		}

		.main_btn {
		    display: inline-block;
		    padding: 0px 19px;
		    background: #0071bb;
		    color: #fff;
		    font-family: "Prompt", sans-serif;
		    font-size: 14px;
		    font-weight: 500;
		    line-height: 40px;
		    border-radius: 0px;
		    outline: none !important;
		    box-shadow: none !important;
		    text-align: center;
		    border: 1px solid #0071bb;
		    cursor: pointer;
		    border-radius: 25px;
		    transition: all 300ms linear 0s;
		}

	.navbar-toggler {
	    
	    margin-top: 15px;
	    margin-bottom: 15px;
	}
	.sticky {
	    top: 50px;
	   
	}
	.pc-temp {
		display: none;
	}
	.mobile-temp {
		display: inline;
	}

	.pc-banner {
		display: none;
	}
	.mobile-banner {
		display: inline;
	}
	.header_area + section, .header_area + row, .header_area + div {
		margin-top: 0px;
	}
    /* Home Banner Area css
	============================================================================================ */
	.home_banner_area .banner_inner .banner_content h2 {
		font-size: 28px;
	}
	.home_banner_area {
		/*min-height: 500px;*/
	}
	.home_banner_area .banner_inner {
		/*min-height: 500px;*/
	}
	.blog_banner .banner_inner .blog_b_text {
		margin-top: 0px;
	}
	.home_banner_area .banner_inner .banner_content img{
		display: none;
	}
	.home_banner_area .banner_inner .banner_content h5 {
		margin-top: 0px;
	}
	/* End Home Banner Area css
	============================================================================================ */
	.p_120 {
		padding-top: 70px;
		padding-bottom: 70px;
	}
	.main_title h2 {
		font-size: 25px;
	}
	/* Elements Area css
	============================================================================================ */
	.sample-text-area {
		padding: 70px 0 70px 0;
	}
	.generic-blockquote {
		padding: 30px 15px 30px 30px;
	}
	/* End Elements Area css
	============================================================================================ */
	
	/* Blog Page Area css
	============================================================================================ */
	.blog_details h2 {
		font-size: 20px;
		line-height: 30px;
	}
	.blog_banner .banner_inner .blog_b_text h2 {
		font-size: 28px;
		line-height: 38px;
	}
	/* End Blog Page Area css
	============================================================================================ */
	/* Footer Area css
	============================================================================================ */
	.footer-area {
		padding: 10px 0px;
	}
	/* End End Footer Area css
	============================================================================================ */
	.pad_top {
		padding-top: 70px;
	}
	.footer-bottom {
		padding-top: 20px;
	}

	nav > div a.nav-item.nav-link {
	
	   
	    font-size: 12px;
	    
	}

	.navbar-login{
  
	    margin-left: auto;
	 
	 }

}

@media (max-width:480px){
	/* Main Menu Area css
	============================================================================================ */
	.header_area .navbar-collapse{
		/*max-height: 250px;*/
	}
	/* End Main Menu Area css
	============================================================================================ */
	
	/* Home Banner Area css
	============================================================================================ */
    .home_banner_area .banner_inner .banner_content {
		padding: 30px 15px;
		margin-top: 0px;
	}
	.banner_content .white_btn {
		display: block;
	}
	.home_banner_area .banner_inner .banner_content h3 {
		font-size: 24px;
	}
	/* End Home Banner Area css
	============================================================================================ */
	.banner_area .banner_inner .banner_content h2 {
		font-size: 32px;
	}
	.home_banner_area {
		/*min-height: 400px;*/
	}
	.home_banner_area .banner_inner {
		/*min-height: 400px;*/
	}
	/* Blog Page Area css
	============================================================================================ */
	.comments-area .thumb {
		margin-right: 10px;
	}
	
	/* End Blog Page Area css
	============================================================================================ */
	.video_area .popup-youtube img {
		width: 15%;
	}
	.course_details_inner .nav.nav-tabs li {
		margin-right: 15px;
	}

	.container-tap {
	    width: 100%;
	    padding-right: 0px;
	    padding-left: 0px;
	    margin-right: auto;
	    margin-left: auto;
	}

	nav > .nav.nav-tabs{

	    font-size: 12px;
	    height: 70px;
	}
	nav > div a.nav-item.nav-link{

	    padding: 5px 5px;

	   
	}
	nav > div a.nav-item.nav-link.active
	{

	    padding: 5px 5px;

	}

	.home_banner_area {
	    height: 260px;
	}

	.img-profile .circle {
	  
	    left: 28%;
	}
}

