@font-face {
  font-family: 'THSarabunNew';
  src: url("../fonts/THSarabunNew.woff");
}
@font-face {
  font-family: 'THSarabunNew-Bold';
  src: url("../fonts/THSarabunNew-Bold.woff");
}
/* line 11, ../sass/_custom.scss */
body {
  font-family: 'THSarabunNew' !important;
}
/* line 14, ../sass/_custom.scss */
body .ImgFluid {
  max-width: 100%;
  height: auto;
  width: 100%;
}
/* line 20, ../sass/_custom.scss */
body .bold {
  font-family: 'THSarabunNew-Bold';
}
/* line 24, ../sass/_custom.scss */
body p,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin: 0;
}

/* line 35, ../sass/_custom.scss */
.layout-top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 70px;
}
@media only screen and (max-width: 767px) {
  /* line 35, ../sass/_custom.scss */
  .layout-top {
    font-size: 30px;
  }
}
/* line 46, ../sass/_custom.scss */
.layout-top .box {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
/* line 51, ../sass/_custom.scss */
.layout-top .box i {
  font-size: 45px;
}
@media only screen and (max-width: 767px) {
  /* line 51, ../sass/_custom.scss */
  .layout-top .box i {
    font-size: 20px;
  }
}

/* line 61, ../sass/_custom.scss */
.fade-load {
  position: absolute;
  z-index: 9;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation: load 1.2s ease-in-out infinite;
  animation: load 1.2s ease-in-out infinite;
  border-radius: 100%;
  background: #7626D0;
  opacity: 0.11111;
}

@-webkit-keyframes load {
  0% {
    border: 0px solid #000;
  }
  50% {
    border: 80px solid #000;
  }
  100% {
    border: 0px solid #000;
  }
}
@keyframes load {
  0% {
    border: 0px solid #000;
  }
  50% {
    border: 80px solid #000;
  }
  100% {
    border: 0px solid #000;
  }
}
/* line 102, ../sass/_custom.scss */
#fancy_images {
  max-width: 100%;
  padding: 10px !important;
}
@media only screen and (max-width: 767px) {
  /* line 102, ../sass/_custom.scss */
  #fancy_images {
    max-width: 80%;
  }
}
/* line 108, ../sass/_custom.scss */
#fancy_images img {
  width: auto;
  height: 75vh;
  max-width: 100%;
}
/* line 113, ../sass/_custom.scss */
#fancy_images .checkbox {
  font-size: 25px;
  display: contents;
}
/* line 117, ../sass/_custom.scss */
#fancy_images button {
  font-size: 22px;
  padding: 0px 10px;
  background-image: linear-gradient(#cc00de, #a96fc4);
  border: 0;
  color: #fff;
}
/* line 123, ../sass/_custom.scss */
#fancy_images button i {
  font-size: 16px;
}
/* line 126, ../sass/_custom.scss */
#fancy_images button.chekbox {
  background-image: linear-gradient(#c86d5e, #eaa47a);
}
/* line 128, ../sass/_custom.scss */
#fancy_images button.chekbox:hover, #fancy_images button.chekbox:focus {
  background-image: linear-gradient(#c86d5e, #c86d5e);
}
/* line 132, ../sass/_custom.scss */
#fancy_images button:hover {
  background-image: linear-gradient(#cc00de, #cc00de);
}

/* line 138, ../sass/_custom.scss */
.page-start {
  position: relative;
  background-image: linear-gradient(#004fde, #0087a5);
  height: 100vh;
  width: 100%;
  color: #fff;
}
/* line 144, ../sass/_custom.scss */
.page-start.end {
  background-image: linear-gradient(#a700de, #0042a5);
}
/* line 147, ../sass/_custom.scss */
.page-start .center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

/* line 157, ../sass/_custom.scss */
.btn-custom {
  background-image: linear-gradient(#00b5de, #00a568);
  border: 0;
  border-radius: 50px;
  color: white;
  font-size: 45px;
  padding: 0 40px;
}

/* line 167, ../sass/_custom.scss */
.login_form .form-group .form-control::placeholder {
  color: #8dd8f8;
}

/* line 1, ../sass/_feature1.scss */
.feature1 {
  background-image: linear-gradient(#00dede, #0077a5);
  height: 100vh;
  width: 100%;
  color: #fff;
}
/* line 7, ../sass/_feature1.scss */
.feature1 .layout-body {
  padding: 15px;
}
/* line 9, ../sass/_feature1.scss */
.feature1 .layout-body .box {
  position: relative;
  height: 60vh;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
/* line 14, ../sass/_feature1.scss */
.feature1 .layout-body .box .image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* line 19, ../sass/_feature1.scss */
.feature1 .layout-body .box .image img {
  max-height: 120px;
}
/* line 23, ../sass/_feature1.scss */
.feature1 .layout-body .box .text {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
}
/* line 30, ../sass/_feature1.scss */
.feature1 .layout-body .action {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 5vh;
}
/* line 37, ../sass/_feature1.scss */
.feature1 .layout-body .action .list {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  text-align: center;
}
/* line 42, ../sass/_feature1.scss */
.feature1 .layout-body .action .list .button {
  cursor: pointer;
  border: 1px solid white;
  display: inline-grid;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  font-size: 40px;
  padding: 13px;
}

/* line 1, ../sass/_feature2.scss */
.feature2 {
  background-image: linear-gradient(#7335ff, #79169e);
  height: 100vh;
  width: 100%;
  color: #fff;
}
/* line 7, ../sass/_feature2.scss */
.feature2 .layout-body {
  padding: 15px;
}
/* line 10, ../sass/_feature2.scss */
.feature2 .layout-body .box {
  position: relative;
  height: 85vh;
}
/* line 14, ../sass/_feature2.scss */
.feature2 .layout-body .box .image1 {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
/* line 21, ../sass/_feature2.scss */
.feature2 .layout-body .box .image1 img {
  position: relative;
  z-index: 99;
  max-height: 120px;
}
/* line 28, ../sass/_feature2.scss */
.feature2 .layout-body .box .text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* line 33, ../sass/_feature2.scss */
.feature2 .layout-body .box .text #answer {
  background: white;
  padding: 5px 20px;
  border-radius: 38px;
  color: #7626D0;
  letter-spacing: 4px;
  width: max-content;
}
/* line 43, ../sass/_feature2.scss */
.feature2 .layout-body .box .image2 {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
/* line 50, ../sass/_feature2.scss */
.feature2 .layout-body .box .image2 img {
  position: relative;
  z-index: 99;
  max-height: 120px;
}

/* line 1, ../sass/_feature3.scss */
.feature3 {
  background-image: linear-gradient(#ff6815, #a500fb);
  height: 100vh;
  width: 100%;
  color: #fff;
}
/* line 7, ../sass/_feature3.scss */
.feature3 .layout-body {
  padding: 15px;
}
/* line 10, ../sass/_feature3.scss */
.feature3 .layout-body .box {
  position: relative;
  margin-top: 15px;
  height: 70vh;
}
/* line 15, ../sass/_feature3.scss */
.feature3 .layout-body .box .blog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
/* line 23, ../sass/_feature3.scss */
.feature3 .layout-body .box .blog .list .text {
  display: inline-flex;
  padding: 0px 10px;
  border: 1px solid white;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 30px;
  width: 35px;
}
/* line 31, ../sass/_feature3.scss */
.feature3 .layout-body .box .blog .list .text.disible {
  background: #6d6d6d;
  opacity: 0.7;
}
/* line 37, ../sass/_feature3.scss */
.feature3 .layout-body .box .blog .image {
  text-align: center;
}
/* line 39, ../sass/_feature3.scss */
.feature3 .layout-body .box .blog .image img {
  max-height: 120px;
}
/* line 42, ../sass/_feature3.scss */
.feature3 .layout-body .box .blog .image .text {
  margin-top: 25px;
  display: inline-flex;
}
/* line 45, ../sass/_feature3.scss */
.feature3 .layout-body .box .blog .image .text .p {
  width: 18px;
  border-bottom: 1px solid #fff;
  margin: 0 3px;
  font-size: 35px;
  text-align: center;
  line-height: 1;
}

/* line 1, ../sass/_feature4.scss */
.feature4 {
  background-image: linear-gradient(#353fff, #169e8b);
  height: 100vh;
  width: 100%;
  color: #fff;
}
/* line 7, ../sass/_feature4.scss */
.feature4 .layout-body {
  padding: 15px;
}
/* line 10, ../sass/_feature4.scss */
.feature4 .layout-body .box {
  position: relative;
  height: 85vh;
}
/* line 14, ../sass/_feature4.scss */
.feature4 .layout-body .box .image {
  position: absolute;
}
/* line 15, ../sass/_feature4.scss */
.feature4 .layout-body .box .image.t1 {
  left: 0;
  top: 10%;
}
/* line 19, ../sass/_feature4.scss */
.feature4 .layout-body .box .image.t2 {
  right: 0;
  top: 10%;
}
/* line 23, ../sass/_feature4.scss */
.feature4 .layout-body .box .image.t3 {
  left: 0;
  bottom: 10%;
}
/* line 27, ../sass/_feature4.scss */
.feature4 .layout-body .box .image.t4 {
  right: 0;
  bottom: 10%;
}
/* line 33, ../sass/_feature4.scss */
.feature4 .layout-body .box .image img {
  max-height: 120px;
}
/* line 38, ../sass/_feature4.scss */
.feature4 .layout-body .box .text {
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 5px 20px;
  border-radius: 38px;
  color: #2570C3;
  letter-spacing: 4px;
  width: fit-content;
}

/* line 1, ../sass/_feature5.scss */
.feature5 {
  background-image: linear-gradient(#ff35be, #169e8b);
  height: 100vh;
  width: 100%;
  color: #fff;
}
/* line 7, ../sass/_feature5.scss */
.feature5 .layout-body {
  padding: 15px;
}
/* line 10, ../sass/_feature5.scss */
.feature5 .layout-body .box {
  position: relative;
  height: 85vh;
}
/* line 14, ../sass/_feature5.scss */
.feature5 .layout-body .box .number-head {
  cursor: pointer;
  padding: 8px;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 20px;
  color: #e73db9;
  box-shadow: 0px 0px 3px #272727;
}
/* line 25, ../sass/_feature5.scss */
.feature5 .layout-body .box .image {
  position: absolute;
}
/* line 28, ../sass/_feature5.scss */
.feature5 .layout-body .box .image.t1 {
  left: 0;
  top: 20%;
}
/* line 33, ../sass/_feature5.scss */
.feature5 .layout-body .box .image.t2 {
  right: 0;
  top: 20%;
}
/* line 38, ../sass/_feature5.scss */
.feature5 .layout-body .box .image.t3 {
  left: 0;
  bottom: 0%;
}
/* line 43, ../sass/_feature5.scss */
.feature5 .layout-body .box .image.t4 {
  right: 0;
  bottom: 0%;
}
/* line 48, ../sass/_feature5.scss */
.feature5 .layout-body .box .image .bg-box {
  padding: 16px;
  height: 30vh;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
/* line 54, ../sass/_feature5.scss */
.feature5 .layout-body .box .image .bg-box .text {
  overflow-wrap: break-word;
  margin-top: 20%;
  text-align: center;
  max-width: 120px;
  background: white;
  padding: 5px;
  border-radius: 15px;
  color: #2570C3;
}
/* line 66, ../sass/_feature5.scss */
.feature5 .layout-body .box .image .bg-box .number {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0px;
  width: 22px;
  height: 22px;
  transform: translate(-50%, -50%);
  background: #ad9c97;
  border-radius: 20px;
  color: black;
}
/* line 80, ../sass/_feature5.scss */
.feature5 .layout-body .box .image img {
  max-height: 120px;
  margin-top: 10px;
}
/* line 86, ../sass/_feature5.scss */
.feature5 .layout-body .box hr {
  margin: 10px;
  border-top: 2px solid rgba(255, 255, 255, 0.7);
}

/* line 1, ../sass/_feature55.scss */
.feature55 {
  background-image: linear-gradient(#3570ff, #74169e);
  height: 100vh;
  width: 100%;
  color: #fff;
}
/* line 7, ../sass/_feature55.scss */
.feature55 .layout-body {
  padding: 15px;
}
/* line 10, ../sass/_feature55.scss */
.feature55 .layout-body .box {
  position: relative;
  height: 85vh;
}
/* line 14, ../sass/_feature55.scss */
.feature55 .layout-body .box .image1 {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
}
/* line 20, ../sass/_feature55.scss */
.feature55 .layout-body .box .image1 img {
  max-height: 120px;
}
/* line 25, ../sass/_feature55.scss */
.feature55 .layout-body .box .answer {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -50%);
}
/* line 30, ../sass/_feature55.scss */
.feature55 .layout-body .box .answer .text {
  text-align: center;
}
/* line 32, ../sass/_feature55.scss */
.feature55 .layout-body .box .answer .text span {
  font-size: 35px;
  padding: 0px;
}
