@font-face {
	font-family: 'THSarabunNew';
	src: url("../fonts/THSarabunNew.woff");
}

@font-face {
	font-family: 'THSarabunNew-Bold';
	src: url("../fonts/THSarabunNew-Bold.woff");
}

body {
	font-family: 'THSarabunNew' !important;

	.ImgFluid {
		max-width: 100%;
		height: auto;
		width: 100%;
	}

	.bold {
		font-family: 'THSarabunNew-Bold';
	}

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
	}
}

.layout-top {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	font-size: 70px;

	@media only screen and (max-width: 767px) {
		font-size: 30px;
	}

	.box {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;

		i {
			font-size: 45px;

			@media only screen and (max-width: 767px) {
				font-size: 20px;
			}
		}
	}
}

.fade-load {
	position: absolute;
	z-index: 9;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-animation: load 1.2s ease-in-out infinite;
    animation: load 1.2s ease-in-out infinite;    
    border-radius: 100%;
    background: #7626D0;
    opacity: 0.11111;
}

@-webkit-keyframes load {
    0% {
        border: 0px solid #000;
    }

    50% {
        border: 80px solid #000;
    }

    100% {
        border: 0px solid #000;
    }
}

@keyframes load {
    0% {
        border: 0px solid #000;
    }

    50% {
        border: 80px solid #000;
    }

    100% {
        border: 0px solid #000;
    }
}

#fancy_images {
	max-width: 100%;
	padding: 10px !important;
	@media only screen and (max-width: 767px) {
		max-width: 80%;
	}
	img {
		width: auto;
		height: 75vh;
		max-width: 100%;	
	}
	.checkbox {
		font-size: 25px;
		display: contents;
	}
	button {
		font-size: 22px;
		padding: 0px 10px;
		background-image: linear-gradient(#cc00de, #a96fc4);
		border: 0;
		color: #fff;
		i {
			font-size: 16px;
		}
		&.chekbox {
			background-image: linear-gradient(#c86d5e, #eaa47a);
			&:hover, &:focus {
				background-image: linear-gradient(#c86d5e, #c86d5e);
			}
		}
		&:hover {
			background-image: linear-gradient(#cc00de, #cc00de);
		}
	}
}

.page-start {
	position: relative;
	background-image: linear-gradient(rgb(0, 79, 222), rgb(0, 135, 165));
    height: 100vh;
    width: 100%;
	color: #fff;
	&.end {
		background-image: linear-gradient(rgb(167, 0, 222), rgb(0, 66, 165));
	}
	.center {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 90%;
		text-align: center;
	}
}

.btn-custom {
	background-image: linear-gradient(rgb(0, 181, 222), rgb(0, 165, 104));
    border: 0;
    border-radius: 50px;
	color: rgb(255, 255, 255);
	font-size: 45px;
    padding: 0 40px;
}

.login_form .form-group .form-control{
	&::placeholder {
		color: #8dd8f8;
	}
}