.feature1 {
    background-image: linear-gradient(rgb(0, 222, 222), rgb(0, 119, 165));
    height: 100vh;
    width: 100%;
    color: #fff;

    .layout-body {
        padding: 15px;
        .box {
            position: relative;
            height: 60vh;
            background: rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            .image {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                img {
                    max-height: 120px;
                }
            }
            .text {
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translate(-50%, -50%);
            }
        }
        .action {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-top: 5vh;
    
            .list {
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
                text-align: center;
                .button {
                    cursor: pointer;
                    border: 1px solid rgb(255, 255, 255);
                    display: inline-grid;
                    width: 70px;
                    height: 70px;
                    border-radius: 100%;
                    font-size: 40px;
                    padding: 13px;
                }
            }
        }
    }
}