.feature2 {
    background-image: linear-gradient(rgb(115, 53, 255), rgb(121, 22, 158));
    height: 100vh;
    width: 100%;
    color: #fff;

    .layout-body {
        padding: 15px;

        .box {
            position: relative;
            height: 85vh;

            .image1 {
                position: absolute;
                left: 50%;
                top: 20%;
                transform: translate(-50%, -50%);
                cursor: pointer;

                img {
                    position: relative;
                    z-index: 99;
                    max-height: 120px;
                }
            }

            .text {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                #answer {
                    background: rgb(255, 255, 255);
                    padding: 5px 20px;
                    border-radius: 38px;
                    color: #7626D0;
                    letter-spacing: 4px;    
                    width: max-content;
                }
            }

            .image2 {
                position: absolute;
                left: 50%;
                bottom: 0%;
                transform: translate(-50%, -50%);
                cursor: pointer;

                img {
                    position: relative;
                    z-index: 99;
                    max-height: 120px;
                }
            }
        }
    }
}