.feature3 {
    background-image: linear-gradient(rgb(255, 104, 21), rgb(165, 0, 251));
    height: 100vh;
    width: 100%;
    color: #fff;

    .layout-body {
        padding: 15px;

        .box {
            position: relative;
            margin-top: 15px;
            height: 70vh;

            .blog {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                width: 100%;
                .list {
                    .text {
                        display: inline-flex;
                        padding: 0px 10px;
                        border: 1px solid rgb(255, 255, 255);
                        margin-bottom: 10px;
                        border-radius: 5px;
                        font-size: 30px;
                        width: 35px;
                        &.disible {
                            background: rgb(109, 109, 109);
                            opacity: 0.7;
                        }
                    }
                }
                .image {
                    text-align: center;
                    img {
                        max-height: 120px;
                    }
                    .text {
                        margin-top: 25px;
                        display: inline-flex;
                        .p {
                            width: 18px;
                            border-bottom: 1px solid #fff;
                            margin: 0 3px;
                            font-size: 35px;
                            text-align: center;
                            line-height: 1;
                        }
                    }
                }

            }
        }
    }
}