.feature55 {
    background-image: linear-gradient(rgb(53, 112, 255), rgb(116, 22, 158));
    height: 100vh;
    width: 100%;
    color: #fff;

    .layout-body {
        padding: 15px;

        .box {
            position: relative;
            height: 85vh;

            .image1 {
                position: absolute;
                left: 50%;
                top: 20%;
                transform: translate(-50%, -50%);

                img {
                    max-height: 120px;
                }
            }

            .answer {
                position: absolute;
                left: 50%;
                bottom: 0%;
                transform: translate(-50%, -50%);
                .text {
                    text-align: center;
                    span {
                        font-size: 35px;
                        padding: 0px;
                    }
                }
            }
        }
    }
}