.feature5 {
    background-image: linear-gradient(rgb(255, 53, 190), rgb(22, 158, 139));
    height: 100vh;
    width: 100%;
    color: #fff;

    .layout-body {
        padding: 15px;

        .box {
            position: relative;
            height: 85vh;

            .number-head {
                cursor: pointer;
                padding: 8px;
                width: 40px;
                height: 40px;
                background: rgb(255, 255, 255);
                border-radius: 20px;
                color: rgb(231, 61, 185);
                box-shadow: 0px 0px 3px #272727;
            }

            .image {
                position: absolute;

                &.t1 {
                    left: 0;
                    top: 20%;
                }

                &.t2 {
                    right: 0;
                    top: 20%;
                }

                &.t3 {
                    left: 0;
                    bottom: 0%;
                }

                &.t4 {
                    right: 0;
                    bottom: 0%;
                }

                .bg-box {
                    padding: 16px;
                    height: 30vh;
                    background: rgba(0, 0, 0, 0.1);
                    border-radius: 8px;

                    .text {
                        overflow-wrap: break-word;
                        margin-top: 20%;
                        text-align: center;
                        max-width: 120px;
                        background: white;
                        padding: 5px;
                        border-radius: 15px;
                        color: #2570C3;
                        // letter-spacing: 4px;
                    }

                    .number {
                        position: absolute;
                        right: 0;
                        top: 0;
                        padding: 0px;
                        width: 22px;
                        height: 22px;
                        transform: translate(-50%, -50%);
                        background: rgb(173, 156, 151);
                        border-radius: 20px;
                        color: rgb(0, 0, 0);
                    }
                }

                img {
                    max-height: 120px;
                    margin-top: 10px;
                }
            }

            hr {
                margin: 10px;
                border-top: 2px solid rgba(255, 255, 255, 0.7);
            }

        }
    }
}