.feature4 {
    background-image: linear-gradient(rgb(53, 63, 255), rgb(22, 158, 139));
    height: 100vh;
    width: 100%;
    color: #fff;

    .layout-body {
        padding: 15px;

        .box {
            position: relative;
            height: 85vh;

            .image {
                &.t1 {
                    left: 0;
                    top: 10%;
                }
                &.t2 {
                    right: 0;
                    top: 10%;
                }
                &.t3 {
                    left: 0;
                    bottom: 10%;
                }
                &.t4 {
                    right: 0;
                    bottom: 10%;
                }
                position: absolute;

                img {
                    max-height: 120px;
                }
            }

            .text {
                cursor: pointer;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background: rgb(255, 255, 255);
                padding: 5px 20px;
                border-radius: 38px;
                color: #2570C3;
                letter-spacing: 4px;
                width: fit-content;
            }
        }
    }
}